<html>
<head>
    <title>NWOEOROWOER</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Success!</h1>
    <p>safguahsdfglkhbasdflgu.shdfg;uhagsrn;oubn</p>
    <img src="https://c8.alamy.com/comp/2BWXA9N/emoticon-showing-thumb-up-2BWXA9N.jpg" >
</body>
</html>